* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #001905;
}

img {
    width: 100%;
}

/*-----------------tekst start--------------*/

h1 {
    display: flex;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: red;
    letter-spacing: 3px;
    text-transform: uppercase;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 3em;
    font-weight: 150;
    border-bottom: solid red;
    /* text-shadow: 3.5px 0px #001905;*/
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    font-weight: 150;
    padding: 10px;
    padding-left: 0;
    color: red;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1em;
    text-align: left;
    line-height: 23px;
    font-weight: 300;
}

/*-----------------tekst slut--------------*/

/*---------------------Menu------------------------*/

header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #001905;

}

header nav {
    margin: 1rem;
    align-items: flex-end;
    flex-direction: column;
    display: flex;

}

header nav a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    color: red;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* mouse over link */
header nav a:hover {
    color: #FFE600;
}

/*--------------burgermenu-------------*/
.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
    background-color: #001905;
}

/***************Menu slut*************/

/*-------------Generalle start---------------*/

section {
    max-width: 1200px;
    margin: 0rem auto;
    background-color: #FFE600;
    padding: 5px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    /*background-color: #FFD400;*/
}

.space_forside {
    height: 85px;
    width: 100%
}

.space {
    height: 100px;
    width: 100%
}

.col {
    flex-grow: 1;
    flex-basis: 500px;
    width: 800px;
}

.col_txt {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


.ani:hover {
    transition: .4s;
    transition-timing-function: cubic-bezier(.2, 0, .3, 1);
    transform: scale(1.07);
}

.puls {
    animation-name: pil_kf;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes pil_kf {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

#farve {
    background-color: #FFE600;
    max-width: 1200px;
}

iframe {
    width: 100%;
    height: 47vw;
    border: 0;
}

/*.ui {
    height: 50%;
    width: 50%
}*/

footer {
    background-color: #001905;
    width: 100vw;
    max-width: 1200px;
    margin: 0rem auto;
}

footer p {
    padding: 20px;
    font-weight: 500;
    color: red;
    font-family: 'Anton', sans-serif;
}

/*-------------Generalle slut---------------*/

/*-----------forside slut-------------------*/
#splash {
    max-width: none;
    width: 100%;
    /*position: fixed;*/
}

/*_______________om--------------------*/
#om .col {
    padding: 40px;
}



/*---------------tema---------------------*/

#kat .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    /*padding-top: 50px;*/
}

#kat {
    max-width: 1200px;

}

#kat .col {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 150px;
}

/*#kat .col img {
    width: 60%
}*/

#controle {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
}

/*---------------tema slut----------------*/

/*------------grundlæggende html start-----------*/

#kat_tema1 {}

#kat_tema1 .col_txt {
    padding: 30px;
    padding-left: 40px;
    padding-top: 50px;
}

#kat_tema1 .col {
    padding: 50px;

}

/*------------grundlæggende html slut-----------*/



/*----------------UX start----------------*/
/*
#tema2 {

    background-color: transparent;
}
*/



#tema2 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

#dataindsamling {
    max-width: 1200px;
    /*background-color: transparent;*/
}

#dataindsamling .col {
    flex-grow: 2;
    flex-basis: 400px;
}

/*---------kopper---------------*/

#kopper {
    max-width: 800px;
    /*background-color: transparent;*/
}

#kopper .sectionwrapper {
    flex-wrap: nowrap;
}

#kopper .col {
    /*display: flex;*/
    flex-grow: 1;
    flex-basis: 300px;
    width: 50%;
    padding: 20px;
}

#kopper_txt {
    max-width: 1000px;
    /*background-color: transparent;*/
}

/*---------------------sprint------------*/
#kea {
    max-width: 800px;
    /*background-color: transparent;*/
}

#kea .sectionwrapper {
    flex-wrap: nowrap;
}

#kea .col {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 200px;
    width: 50%;
}

#kea_txt {
    max-width: 1200px;
    padding: 15px;
    /*background-color: transparent;*/
}

#kea_txt .col_txt {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 400px;
}

#kea_txt .col {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 200px;

}



/*----------------UX slut----------------*/

/*------------animation start-----------*/
#kat_tema3 .sectionwrapper {
    height: 90px;
}


#kat_tema3 .col_txt {
    padding-left: 60px;
    /*padding-right: 60px;*/
}

#det_sorte_hul {
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 0px;
}

#det_sorte_hul .sectionwrapper {
    padding-top: 40px;
    height: 300px;
}


#det_sorte_hul img {
    padding-right: 10px;
}



/*#det_sorte_hul .sectionwrapper {
    height: 300px;
}*/

#det_sorte_hul h1 {
    padding-bottom: 20px;
}

#sort_spil iframe {
    padding: 100px;
    /*width: 70%;*/
    /*height: 30vw;*/
    /* padding-right: 30px;*/
    /*padding-left: 50px;*/
}

#styletile_det_sorte_hul {
    background-color: transparent;
    border: 0;
}

#fest {
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

#fest .sectionwrapper {
    padding-top: 40px;
}

#fest h1 {
    padding-bottom: 20px;
}

#frede iframe {
    padding: 100px;
    /*width: 70%;*/
    height: 49.2vw;
    /* padding-right: 30px;*/
    /*padding-left: 50px;*/
}

/*------------animation slut-----------*/

/*------------grundlæggende indhold start------------*/
#kat_tema4 .col_txt {
    padding-left: 60px;
    padding-right: 60px;
}

#kat_tema4 iframe {
    width: 50%;
    height: 30vw;
    padding-right: 30px;
    padding-left: 30px;
}

#kat_tema4 h1 {
    padding-bottom: 30px;
}

#redesign {
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 0px;
}

#redesign h1 {
    padding-bottom: 30px;
}

#redesign .col img {

    padding: 70px;
}

/*#video iframe {
    width: 50%;
    height: 30vw;
    padding-right: 30px;
    padding-left: 30px;
}*/

/*------------grundlæggende indhold slut------------*/

@media only screen and (min-width:600px) {

    #menuknap {
        display: none;
        background-color: seashell;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;
    }

    header nav {
        padding: 0.1rem;
    }

    header nav li {
        padding: 0.3rem;
        margin: 0.8rem;
        color: black;
    }
