* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6f8da;
}

img {
    width: 100%;
}

/*-----------------tekst start--------------*/

h1 {}

p {}

/*-----------------tekst slut--------------*/

/*---------------------Menu------------------------*/

header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: seashell;
}

header nav {
    margin: 1rem;

}

header nav a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    color: #403f3f;
    font-size: 1.2rem;
}

/* mouse over link */
header nav a:hover {
    color: #000000;
}

/*--------------burgermenu-------------*/
.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
    background-color: seashell;
}

/***************Menu slut*************/

/*-------------Generalle start---------------*/

section {
    max-width: 1200px;
    margin: 0rem auto;
    background-color: seashell;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.space_forside {
    height: 85px;
    width: 100%
}

.space {
    height: 100px;
    width: 100%
}

.col {
    flex-grow: 1;
    flex-basis: 500px;
}

.col_txt {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

.ani:hover {
    transition: .4s;
    transition-timing-function: cubic-bezier(.2, 0, .3, 1);
    transform: scale(1.07);
}

footer {
    background-color: gold;
    width: 100vw;
    height: 50px;
    max-width: 1200px;
    margin: 0rem auto;

}

/*-------------Generalle slut---------------*/

/*-----------forside slut-------------------*/
#splash {
    max-width: none;
    width: 100%;
}

/*---------------tema---------------------*/

#kat .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

#kat {
    max-width: 1200px;
    background-color: transparent;
}

#kat .col {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 300px;
}

#kat .col_bund {
    padding: 5px;
    margin: 20px;
    flex-grow: 1;
    flex-basis: 200px;
    background-color: aqua;
}



/*---------------tema slut----------------*/

/*----------------UX start----------------*/
#tema2 {

    background-color: transparent;
}

#tema2 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

#dataindsamling {
    max-width: 800px;
}

#dataindsamling .col {
    flex-grow: 1;
    flex-basis: 400px;
}

#kopper {
    max-width: 800px;
    background-color: transparent;
}

#kopper .col {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 200px;
}

#kopper_txt {
    max-width: 1000px;
    background-color: transparent;
}

#kea {
    max-width: 800px;
    background-color: transparent;
}

#kea .col {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 200px;

}

/*----------------UX start----------------*/


@media only screen and (min-width:600px) {

    #menuknap {
        display: none;
        background-color: seashell;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;
    }

    header nav {
        padding: 0.1rem;
    }

    header nav li {
        padding: 0.3rem;
        margin: 0.8rem;
        color: black;
    }
