* {
    margin: 0;
}

img {
    width: 100%;
}

/***************Menu*************/


header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: seashell;
}


header nav a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    color: #403f3f;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* mouse over link */
header nav a:hover {
    color: #000000;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
    height: 20px;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
}

/***************Menu slut*************/

/*-------------Generalle start---------------*/

section {
    max-width: 1200px;
    margin: 0rem auto;
    background-color: coral;
    padding-bottom: 15px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.col {
    height: 100px;
    flex-grow: 1;
    flex-basis: 500px;
    background-color: blue;
    border: solid;
}


footer {
    background-color: gold;
    width: 100vw;
    height: 50px;
    max-width: 1000px;
    margin: 0rem auto;
}

.space {
    height: 100px;
    width: 100%
}

/*-------------Generalle slut---------------*/

/*---------------forside start-----------------*/
#splash {
    max-width: none;
    width: 100%;
    background-color: azure;
}

#kat_forside {
    max-width: 1000px;
    width: 100%;
    height: 100hv;
}

.col_forside {
    flex-grow: 1;
    flex-basis: 500px;
}

/*---------------forside slut------------------*/

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }


    header nav li {
        padding: 0.3rem;
        background-color: transparent;
        margin: 0.8rem;
        text-decoration: none;
        color: black;
    }
